{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
    <div>
        <p>TEST</p>
        <div {{ react_component('MyComponents') }}></div>
    </div>

{% endblock %}
