{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="div-1">
            <div class="polygon-shape">
            </div>
             <div class="login-img">
                    <img src="{{ asset('build/image/mdl.png') }}" />
                    <p>
                        Application de gestioon des inscriptions aux congrés
                    </p>
             </div>
        </div>
        <div class="div-2">
            <div class="container-login">
                    <div class="row">
                        <form class="col s12" method="post">
                            <h3>Connexion</h3>
                            <div class="row">
                                <div class="input-field col s12 ">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate" required>
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="password" type="password" class="validate" required>
                                    <label for="password">Mot de passe</label>
                                </div>
                                <button class="waves-effect waves-light btn" type="sumbit">Se Connecter</button>
                            </div>
                        </form>
                    </div>
                <div>
                    <p>
                        Vous ne posséder pas de compte ?
                        <a href={{path("app_inscription")}} class="register-link"> Inscrivez-vous.<a/>
                    </p>

                </div>
            </div>
        </div>
    </div>                
{% endblock %}
