<div class="information-container">
    <div class="information-text-container">
        <p>Votre mot de passe doit contenir au moins:
        <li>
            8 caractères dont un chiffre
        </li>
        <li>
            un caractère en minuscule
        </li>
        <li>
            un caractère en majuscule
        </li>
        <li>
            un caractère spécial
        </li>
        </p>
    </div>
</div>