{% extends 'base.html.twig' %}

{% block title %}Inscription aux assises{% endblock %}

{% block body %}
    {% include '/navbar.html.twig' %}
    <div class="content-inscription-container">
        <div class="box-inscription-information">

        </div>
    </div>
{% endblock %}
