.flash-background{
    opacity: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.flash-box {
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bouton-container{
    margin-top: 5px;
}

.validate-container{
    & > img {
        width: 200px;
        height: 200px;
    }
    width: 50%;
    display: flex;
    justify-content: center;
}

.flash-right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-bottom: 20px;
}

.flash-text-container{
    &>h4 {
        text-align: center;
    }
}