.error-text-container{
  padding : 20px;
  background-color:#f6dcdc;
  width: 400px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
  & > p {
    color: red;
    font-size: 15px;
    text-align: justify;
  }
  & > li {
    float: left;
  }
}

.content-reset-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
